# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**

_Popular languages for Data Science_
- Python
- R
- Java
- C

Some of the popular languages that Data Scientists use are:
1. Python
2. Java
3. R
4. C++

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Keras
3. TensorFlow
4. Pandas

| Data Science Tools |
----------------------
| R studio |
| Jupyter Notebook |
| Visual Studio Code |

### Below are a few examples of evaluating arithmetic expressions in Python:

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
min_to_hour = 200/60
print(min_to_hour)

3.3333333333333335

## Author
Burcu Ozden